{% extends 'base.html' %}

{% block title %}
Login Here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div align="center" style="margin-top: 100px;">
	<h1>Welcome back</h1>
	<hr style="width:40%">
	<div style="width:50%;background-color:#669bbc;min=-height:500px;border-radius:10px;padding: 25px;">
        <form method="post" class="from-group">
            {% csrf_token %}
            {{form|crispy}}
            <p>Don't have an account? Create one <a href="/register">here</a></p>
            <button type="submit" class="btn btn-success" style="width:30%;height:50px;">Login</button>
        </form>

    </div>
</div>
{% endblock %}